body{
    margin:0;
    padding:0;
    background-color: rgb(0, 0, 0);
}

/* header start */
.header{
    margin:10px 10px 0px 10px;
    display:grid;
    grid-template-columns: 10% 90%;
}
.sub-header{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15% 10%;
    background-color: rgb(208, 211, 208);
    border:solid black 2px;
    border-radius:10px;
    font-size:20px;
    color:rgb(11, 147, 11);
    height: 100px;
    box-shadow:  0px 10px 10px rgb(56, 55, 55);;

}

.submenubar-container{
    display:none;
    margin:0px;
    padding:0px;
    /* width:15%; */
    background-color:  rgb(208, 211, 208);
    text-align: center;
    color:rgb(11, 147, 11);
    position:absolute;
    left:160px;

}

.submenubar:hover a{
    border:solid rgb(11, 147, 11) 3px;
    border-radius: 5px;
    color:rgb(255, 0, 0);
}

.submenubar a{
    text-decoration: none;
    color:rgb(11, 147, 11);
}


.menubar1:hover .submenubar-container{
    display: block;
    display:grid;
    grid-template-columns: 1fr;
    margin:0px;
    padding:0px;
    width:13%;
    background-color:  rgb(208, 211, 208);
    text-align: center;
    color:rgb(11, 147, 11);
    border-radius:10px;
    position:absolute;
    z-index:10;
    
    
}




.logo{
    margin:0;
    padding:0;
    height:70%;
    width:90%;
   
    border-radius: 50%;
    background-color:rgb(208, 211, 208);
    box-shadow:  0px 10px 10px rgb(56, 55, 55);
}

.menubar1,.menubar2,.menubar3,.menubar4,.menubar5,.menubar6{
    margin:auto;
}

.menubar1:hover,.menubar2:hover,.menubar3:hover,.menubar4:hover,.menubar5:hover,.menubar6:hover{
    color:rgb(255, 0, 0);
}


.logo:hover{
    margin:0;
    padding:0;
    height:70%;
    width:90%;
    border: solid rgb(4, 4, 4) 5px;
    border-radius: 50%;
    background-color:rgb(208, 211, 208);
    border: solid rgb(20, 141, 16) 5px;
    box-shadow:  0px 10px 10px rgb(35, 35, 35);
}

/* header end */

/* main content part start */

.mainContent{

    display:grid;
    grid-template-columns: 70% 26%;
    column-gap: 4%;
    z-index:1;
}

.photo1{
    margin:0px 10px;
    height:75%;
    width:100%;
    object-fit:cover;
    border:solid rgb(20, 141, 16) 5px;;
    border-radius:20px;
    opacity:1;
}

.content-text{
    margin:0px 10px;
    /* background-color:black; */
    height:78.5%;
    width:71.28%;
    position:absolute;
    top:157px;
    opacity:0.65;
    border-radius:20px;
    color:white;
    text-align: center;
    
}


.content-text:hover{
    margin:0px 10px;
    /* background-color:black; */
    height:77.6%;
    width:71.37%;
    position:absolute;
    top:157px;
    opacity:0.75;
    /* border-radius:20px;
    border:solid rgb(208, 211, 208) 4px; */
    color:rgb(165, 247, 101);
    text-align: center;}

.content-text h6{
    padding:0px 20px;
    font-weight: lighter;
    font-size: 25px;

}

.content-text h1{
    margin:100px;
    font-size: 50px;

}

/* main content part end */

/* login part  start*/

.login{
    height:76%;
    width:90%;
    background-color: rgb(208, 211, 208);
    box-shadow:  -5px 10px 10px rgb(35, 35, 35);
    border:solid rgb(20, 141, 16) 5px;
    border-radius: 6px;;
}


.login:hover{
    height:77%;
    width:91%;
    background-color: rgb(208, 211, 208);
    box-shadow:  -5px 10px 10px rgb(35, 35, 35);
    border:solid rgb(20, 141, 16) 5px;
    border-radius: 6px;;
}

.login h3{
    text-align: center;
    font-size: 40px;
    color:rgb(11, 147, 11);
}


.login_form{
    display:grid;
    grid-template-columns: 1fr;
    padding: 10%;
}

input, select{
    margin: 5%;
    height: 25px;
    background-color:rgb(11, 147, 11);
    color:white;
    border:solid rgb(11, 147, 11) 5px;
    border-radius: 6px;
}

input::placeholder{
    color:white;

}

button{
    margin: 20%;
    height: 30px;
}

button:hover{
    background-color:white;
    border:solid rgb(11, 147, 11) 5px;
    border-radius

    
}


/* login part  end*/

/* graph part start */
.graph{
    margin:0px 10px;
    display:grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
}

.graph-1, .graph-2{
    height:200px;
    width:86%;
    background-color: rgb(208, 211, 208);
    box-shadow: 0px 10px 10px rgb(35, 35, 35);
    border:solid rgb(11, 147, 11) 5px;
    border-radius: 6px;
    color:rgb(11, 147, 11);
    font-size:45px;
    text-align:center;
    padding:40px;

}

.footer{
    margin:20px 20px 10px 10px;
    background-color:rgb(208, 211, 208);
    height:100px;
    width:100%;
    color:rgb(20, 141, 16);
    font-size: 40px;
    text-align:center;
}